<div class="people-home column">
  <igx-navbar class="navbar">
    <igx-icon font="material" [active]="true" igxNavbarAction class="icon_2">menu</igx-icon>
    <div igxNavbarTitle>Viewing David Cardale</div>
    <igx-icon font="material" [active]="true" routerLink="/add-person" class="icon_1">add</igx-icon>
  </igx-navbar>
  <div class="row-layout row">
    <div class="people-list column">
      <igx-list class="list">
        <igx-list-item>
          <igx-avatar src="/assets/53c4f9a7b7f5f730460a0235b717b99679251327.png" [roundShape]="true" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Name</h4>
        </igx-list-item>
        <igx-list-item>
          <igx-avatar src="/assets/53c4f9a7b7f5f730460a0235b717b99679251327.png" [roundShape]="true" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Peter Cologne</h4>
        </igx-list-item>
        <igx-list-item>
          <igx-avatar src="/assets/53c4f9a7b7f5f730460a0235b717b99679251327.png" [roundShape]="true" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Adam Thiel</h4>
        </igx-list-item>
        <igx-list-item>
          <igx-avatar src="/assets/53c4f9a7b7f5f730460a0235b717b99679251327.png" [roundShape]="true" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Amanda Cruz</h4>
        </igx-list-item>
        <igx-list-item>
          <igx-avatar src="/assets/53c4f9a7b7f5f730460a0235b717b99679251327.png" [roundShape]="true" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Veronica Christensen</h4>
        </igx-list-item>
        <igx-list-item>
          <igx-avatar src="/assets/53c4f9a7b7f5f730460a0235b717b99679251327.png" [roundShape]="true" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Anne Marie Ferguson</h4>
        </igx-list-item>
        <igx-list-item>
          <igx-avatar src="/assets/53c4f9a7b7f5f730460a0235b717b99679251327.png" [roundShape]="true" size="small" igxListThumbnail class="avatar_1"></igx-avatar>
          <h4 igxListLineTitle>Jayden Christopher</h4>
        </igx-list-item>
      </igx-list>
    </div>
    <div class="people-details column">
      <div class="information column">
        <div class="avatar-rank column">
          <igx-avatar src="/assets/349e1f7524e843a0851219131d9e87eafab4c2e9.png" [roundShape]="true" size="large" class="avatar"></igx-avatar>
          <igx-badge type="primary" value="65" class="rank"></igx-badge>
        </div>
        <div class="name-admin row">
          <p class="name">Name</p>
          <div class="pin-right column">
            <igx-badge type="primary" value="Admin" class="admin-badge"></igx-badge>
          </div>
        </div>
        <p class="igx-typography__body-2 gender-birthday">Gender - Birthdate</p>
      </div>
      <button igxButton="fab" type="fab" [disabled]="false" routerLink="/edit-person" class="edit">
        <igx-icon class="icon">edit</igx-icon>
      </button>
    </div>
  </div>
</div>
